body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Whole page padding*/
.header, .introduction, .first_body, .inspirational_quote, .call_to_action, .footer {
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.header_link {
    display: inline-flex;

}

.introduction {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding-top: 72px;
    padding-bottom: 72px;
    justify-content: center;

}

.left_introduction {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 16px;
}

.right_introduction {
    display:flex;
}

.first_body {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 72px;
    padding-bottom: 72px;
    
}

.list_body {
    display:flex;
    gap: 24px;
    
}

.inspirational_quote {
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 72px;
    padding-bottom: 72px;
}

.call_to_action {
    display: flex;
    justify-content: center;
}

.left_call_to_action {
    display:flex;
    flex-direction:column;

}

.right_call_to_action {
    display:flex
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/*Enables Image to fit Container */
img {
    max-width: 100%;
    max-height: 100%;
}

.image_border {
    border-style: ridge;
    border-color: blue;
}

/*Extra bold text*/
.extra_bold {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

button {
    background-color: #6a81a1;
    border: none;
    color: rgb(253, 253, 253);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
    margin: 16px;
    
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937
}

p.quote1 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

p.quote2 {
    
    align-items: right;
    font-weight: bold;

}

