.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header_link {
    display: inline-flex;

}

.introduction {
    display: flex;
}

.left_introduction {
    display: flex;
    flex-direction: column;
}

.right_introduction {
    display:flex
}

.first_body {
    display:flex;
    flex-wrap:wrap
}

.list_body {
    display:flex
}

.inspriational_quote {
    display:flex
}

.call_to_action {
    display: flex;
}

.left_call_to_action {
    display:flex
}

.right_call_to_action {
    display:flex
}

.footer {
    display:flex
}

ul {
    list-style: none;
}